img {
	width: 100%;
}

.tile {
	display: block;
	color: #fff;
	background-color: #088CD8;
	padding: 15px;
	margin-bottom: 10%;
	box-shadow: 3px 3px 5px 0px #656565;
	overflow:hidden;
}

.tile-marged {
	margin-top: 55%;
}

.name {
	font-weight: bold;
	margin-bottom: 10px;
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
}

.name::before {

}

.description {
	margin-top: 15px;
}

.citation {
	font-style: italic;
}
